.eft-pairs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.eft-info.pair-name {
  flex: 1.4;
  padding-right: 0.8rem;
}

.eft.pair-prices {
  flex: 1;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background: var(--second-bg-color);
}
